@import "../../styles/variables";

.footer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 60%;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  a {
    color: $font-color;
  }
}
