@import "../../styles/variables";

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("../../assets/images/errorPage/dominika-gregušová.jpg") 0 0 no-repeat;
  background-size: cover;
  z-index: 111;
}

.logo {
  width: 264px;
  height: 110px;
  margin: 20px 0 0 215px;
  cursor: pointer;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 405px;
  height: 180px;
  padding: 18px 16px;
  margin: 240px 0 0 480px;
  text-transform: uppercase;
  color: $black;
  background-color: $font-color-light;
  .title {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 18px;
  }
  .subtitle {
    font-weight: 300;
    font-size: 13px;
  }
  button {
    width: 150px;
    font-weight: 300;
    font-size: 12px;
    padding: 14px 0;
    color: $font-color-light;
    text-align: center;
    text-transform: uppercase;
    border: none;
    background-color: $black;
    &:hover {
      opacity: 0.8;
    }
  }
}
